body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(54, 54, 54);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.seat{
    font-size: 35px;
    margin: 10px;
    color: rgb(200, 200, 200);
}
